.ContactPage {
    padding: 20px;
    .wrapper {
        max-width: 500px;
        min-width: 500px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .ContactPage {
        .wrapper {
            min-width: 100%;
        }
    }
}