.buttonWrapper {
  display: inline-block;
  & div[class*="ant-select-selector"] {
    background-color: #333 !important;
    color: #ddd;
    height: 34px !important;
  }
  & svg {
    fill: #ddd;
  }
}

.button {
  background: #333;
  color: #ddd;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  //width: 36px;
  min-width: 36px;
  border-radius: 4px;
}

.button:hover, .button:focus {
  background: #444;
  outline: 0; /* reset for :focus */
}
