.item {
}
.itemDelete {
  color: red;
  cursor: pointer;
}

.itemTitle {
  font-weight: bold;
  color: $secondary_color;
  word-break: break-word;
}

.itemContent {
  color: $primary_color_2;
  opacity: 0.8;
}

.itemFooter {
  display: flex;
  flex-direction: column;
}
.itemDateTime {
  font-style: italic;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.5715;
  & br {
    display: none;
  }
}
.itemActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.icons {
  //& > div:first-child {
  //  & span {
  //    color: $star_color;
  //  }
  //}
}

.rate {
  display: flex;
  & svg {
    width: 14px;
  }
  & li:not(:last-child) {
    margin-right: 4px;
  }
  & div[class*="ant-rate-star-second"] {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
  .itemMeta {
    flex: 1 1 100%;
  }
  .item {
    & [class*="ant-list-item-action"] {
      flex: 0 0 100%;
      text-align: end;
    }
  }
  .itemDateTime {
    margin-bottom: 5px;
    & br {
      display: inline-block;
    }
    & .divide {
      display: none;
    }
  }
}