.wrapper {
  padding: 50px;
  & form {
    width: 100%;
  }
  & div[class*="ant-col ant-form-item-label"] {
    & label {
      font-weight: bold;
    }
  }
}

.field_info {
  display: flex;
  align-items: center;
  padding: 10px 0;
  & .__line {
    display: flex;
    align-items: center;
    & > span {
      margin-right: 5px;
    }
  }

  & .__valid {
    sup {
      background: #52c41a;
    }
  }
}

.formWrapper {
  display: block;
  & div[class*="ant-form-item-control-input"] {
    min-height: fit-content;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem;
  }
}