.wrapper {
  padding: 20px;
}

.description {
  display: flex;
  align-items: center;
  font-size: 12px;
  & > p {
    padding: 5px 5px 0 0;
    font-style: italic;
  }
}
.title {
  display: flex;
  flex-direction: column;
  & span {
    display: none;
    width: fit-content;
  }
  & a {
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 10px;
  }
  .tagPc {
    display: none;
  }

  .title {
    & span {
      display: inline-flex;
    }
  }


}