@keyframes highlight_menu {
  0%   {width: 0%;}
  100% {width: 100%;}
}

.wrapper {
  padding: 10px 20px 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: $secondary_color_3;
}
.wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  display: grid;
  grid-template-columns: 30% auto auto;
  & > div {
    display: flex;
    align-items: center;
  }
  & > .title {
    & svg {
      font-size: 2rem;
      margin-right: 1rem;
      & path {
        fill: $secondary_color;
      }
    }
  }
  .iconMenuList {
    display: none;
  }
  & h1 {
    color: $primary_color_2;
    font-weight: bold;
  }
}

.menuList {
  justify-content: flex-end;
}

.menuItemWithAvatar {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 10px;
}

.menuItem {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  & svg, span {
    color: $primary_color;
    font-size: 18px;
  }
  & span {
    font-weight: 500;
  }
  &::after {
    position: absolute;
    height: 2px;
    background-color: $secondary_color;
    content: '';

  }
}
.menuItem:hover {

  & svg, span {
    color: $secondary_color;
    & > path {
      fill: $secondary_color !important;
    }
  }

  &::after {
    bottom: -10px;
    left: 0;
    width: 100%;
    animation-name: highlight_menu;
    animation-duration: 0.3s;
  }
}

.searchBox {
  & button {
    border-color: $secondary_color;
    background: $secondary_color;
  }
}


@media screen and (max-width: 1024px) {

  .wrapper {
    position: relative;
    background-color: $secondary_color_2;
  }

  .container {
    grid-template-columns: auto;
    & h1 {
      text-align: center;
    }
    & > .title {
      justify-content: center;
      & span {
        display: none;
      }
    }
    .searchContainer {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -40px;
      display: none;
    }
    .showSearchBox {
      display: flex;
    }
    .iconMenuList {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .menuList {
    display: none !important;
  }

  .menuIconItem {
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      font-size: 2rem;
    }
    padding: 1rem;
  }

  .menuIconItem:hover {
    background-color: $secondary_color_3;
    & svg {
      color: $secondary_color;
      & path {
        fill: $secondary_color !important;
      }
    }
  }
}