.RegisterPage {
    padding: 20px;
    .wrapper {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 50px 20px;
        // flex-direction: column;
    
        &>form {
            width: 100%;
            max-width: 768px;
        }
        .subText {
            margin-top: 10px;
        }
    }
}