
.wrapper {
  padding: 20px 150px;
}
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  display: grid;
  & > div {
    word-break: break-all;
  }
  & figure {
    margin: 0;
  }
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.editor_sm :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.editor_md :global(.public-DraftEditor-content) {
  min-height: 500px;
}

.editor_xs :global(.public-DraftEditor-content) {
  min-height: 750px;
}

.options {
  margin-bottom: 20px;
}

.image {
  &::before {
    content: '';
  }
}

.emoji {
  display: inline-block;
  & > div {
    & > button {
      background: #333;
      color: #ddd;
      font-size: 18px;
      border: 0;
      vertical-align: bottom;
      height: 34px;
      width: 36px;
      border-radius: 4px;
    }
    & > button:hover, & > button:focus {
      background: #444;
      outline: 0; /* reset for :focus */
    }
  }

}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 20px;
  }
}